@using Eticaret.Entity
@model Product
@{
    ViewBag.Title = "ProductDetails";
}

<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            <div id="sidebar" class="span3">
                @Html.Action("Summary", "Cart")
                <ul id="sideManu" class="nav nav-tabs nav-stacked">
                    @Html.Action("_CategoryList", "Category")
                </ul>
                <br>
                @Html.Action("FeaturedProductList", "Home")
            </div>
            <!-- Sidebar end=============================================== -->
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="/Home/Index"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ana Sayfa </font></font></a> <span class="divider"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">/</font></font></span></li>
                    <li><a href="/Home/Product"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ürünler </font></font></a> <span class="divider"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">/</font></font></span></li>
                    <li class="active"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Model.Name</font></font></li>
                </ul>

                <div class="row">
                    <div id="gallery" class="span3">
                        <br />
                        <a href="themes/images/products/large/f1.jpg" title="@Model.Name">
                            <img src="~/Content/Images/@Model.Image" style="width:100%" alt="@Model.Name">
                        </a>
                    </div>

                    <div class="span6">
                        <ul id="productDetail" class="nav nav-tabs">
                            <li class="active"><a href="#home" data-toggle="tab">Ürün Detay</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="home">
                                <h4>Ürün Bilgileri</h4>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr class="techSpecRow"><th colspan="2">Ürün Detay</th></tr>
                                        <tr class="techSpecRow"><td class="techSpecTD1">Adı:</td><td class="techSpecTD2">@Model.Name</td></tr>
                                        <tr class="techSpecRow"><td class="techSpecTD1">Açıklama</td><td class="techSpecTD2">@Model.Description</td></tr>
                                        <tr class="techSpecRow"><td class="techSpecTD1">Kategori:</td><td class="techSpecTD2">@Model.Category.Name</td></tr>
                                        <tr class="techSpecRow"><td class="techSpecTD1">Fiyat:</td><td class="techSpecTD2">@Model.Price</td></tr>
                                        <tr class="techSpecRow"><td class="techSpecTD1">Adet:</td><td class="techSpecTD2">@Model.Stock</td></tr>

                                        <tr class="techSpecRow">
                                            <th colspan="2">
                                                @using (Html.BeginForm("AddToCart", "Cart"))
                                                {
                                                    @Html.HiddenFor(i => i.Id)
                                                    <button type="submit" class="btn btn-large btn-primary pull-right">Sepete Ekle<i class=" icon-shopping-cart"></i></button>
                                                }
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                        </div>


                        @*<a class="btn btn-small pull-right" href="#detail"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Daha fazla detay</font></font></a>
                            <br class="clr">
                            <a href="#" name="detail"></a>
                            <hr class="soft">*@

                    </div>
                    <div class="span9">
                        @*<ul id="productDetail" class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
                                <li><a href="#profile" data-toggle="tab">Related Products</a></li>
                            </ul>*@
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="home">
                                <h4>Ürün Özellikleri</h4>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr class="techSpecRow"><th colspan="2">Ürün Detay</th></tr>
                                        <tr class="techSpecRow"><td class="techSpecTD1">Marka: </td><td class="techSpecTD2">@Model.Brand</td></tr>
                                        <tr class="techSpecRow"><td class="techSpecTD1">Model:</td><td class="techSpecTD2">@Model.Pattern</td></tr>
                                        <tr class="techSpecRow"><td class="techSpecTD1">Çıkış Yılı:</td><td class="techSpecTD2"> @Model.Releasedon</td></tr>
                                </table>

                                <h5>Özellikler</h5>
                                <p>
                                    @Model.Features
                                </p>


                            </div>

                            @if (Request.IsAuthenticated)//true ise kullanıcı login olmuş demek
                            {
                                @*@using (Html.BeginForm())*@
                                {
                                    <h5>Yorum Yap</h5>
                                    <form action="/action_page.php">
                                        <div class="form-group">
                                            <textarea style="width:500px;" class="form-control" rows="5" id="comment" placeholder="Yorum.." name="text"></textarea>
                                            @*@Html.TextAreaFor(model => model.Comment.Yorum, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })*@
                                        </div>
                                        @*<button type="submit" class="btn btn-primary">Gönder</button>*@
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Gönder" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </form>
                                    <h5>Ürün Hakkındaki Yorumlar</h5>
                                    <table class="table table-dark">
                                        <tr style="background-color:aqua;">
                                            <td>
                                                <h5 class="text-warning">@this.User.Identity.Name</h5>
                                                <h4 style="color:white;">Güzel bir ürün tavsiye ederim</h4>
                                               
                                                @*@Html.DisplayFor(model => model.Comment.YorumTarihi)<br />
                                                @Html.DisplayFor(model => model.Comment.Yorum)*@
                                            </td>
                                        </tr>
                                    </table>
                                }

                            }
                            else
                            {
                                <h5>Yorum Yap</h5>
                                <div class="alert alert-Info">
                                    <strong>Üzgünüz!</strong> Yorum yapabilmek için <a href="/Account/Login" class="alert-link">giriş yapmalısınız</a>.
                                </div>
                            }

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

