@using Eticaret.Identity
@model Eticaret.ViewModels.ProfilePasswordViewModel
@{
    ViewBag.Title = "UserPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            <div id="sidebar" class="span3">
                @Html.Action("Summary", "Cart")
                <ul id="sideManu" class="nav nav-tabs nav-stacked">
                    @Html.Action("_CategoryList", "Category")
                </ul>
                <br />
                @Html.Action("FeaturedProductList", "Home")
            </div>
            <!-- Sidebar end=============================================== -->
            <div class="span9">

                <table class="table table-bordered">
                    <tr>
                        <th>
                            PROFİL
                            <a href="/Account/UserProfile" style="margin-left:79%;" class="btn btn-primary">Profili Düzenle</a>
                        </th>

                    </tr>
                    <tr>
                        @if (TempData["mesaj"] != null)
                        {
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4>	<i class="icon fa fa-check"></i> Başarılı!</h4>
                                Bilgileriniz Kaydedildi..
                            </div>
                        }
                        <td>
                            <h3>Şifre Bilgileri</h3>
                            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="control-group">
                                    <div class="controls">
                                        @Html.LabelFor(model => model.changePasswordView.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.TextBoxFor(model => model.changePasswordView.OldPassword, "", new { @class = "form-control", type = "password" })
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        @Html.LabelFor(model => model.changePasswordView.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.TextBoxFor(model => model.changePasswordView.NewPassword, "", new { @class = "form-control", type = "password" })
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        @Html.LabelFor(model => model.changePasswordView.ReNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.TextBoxFor(model => model.changePasswordView.ReNewPassword, "", new { @class = "form-control", type = "password" })
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" class="btn btn-success">Şifeyi Güncelle</button>
                                    </div>
                                </div>

                            }

                        </td>
                    </tr>
                </table>


            </div>
        </div>
    </div>
</div>


